/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p,
a,
li,
label {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.genericContainer,
.header,
.footer {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .genericContainer,
  .header,
  .footer {
    width: 95%;
  }
}
@media (max-width: 768px) {
  .genericContainer,
  .header,
  .footer {
    width: 95%;
  }
}
body {
  background-color: #D9C9AE;
}
header {
  display: flex;
  flexwrap: wrap;
  height: 90px;
  align-items: center;
  border-bottom: 5px solid #CD871B;
  background-image: url(../img/bookshelf1.jpg);
}
@media (max-width: 768px) {
  header {
    background-position: 54% 65%;
  }
}
.header {
  justify-content: center;
  width: 1100px;
  margin: 0 auto;
}
.nav {
  display: flex;
}
.nav button {
  border-radius: 5px;
  margin: 0 10px;
  background-color: forestgreen;
  padding: 7px;
  text-decoration: none;
  border: none;
}
.nav button a {
  text-decoration: none;
  color: white;
}
.nav button:hover {
  background-color: #CD871B;
}
.cta {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 1em;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 500px) {
  .cta {
    flex-wrap: wrap;
  }
}
.sixtySix {
  width: 66%;
  border-radius: 5px;
}
.sixtySix .aaa {
  display: flex;
  flexwrap: wrap;
  justify-content: space-around;
  padding: 1em;
}
.sixtySix h2 {
  margin-top: 0.25em;
  text-align: center;
}
.sixtySix img {
  height: 200px;
  width: 33%;
  object-fit: cover;
  margin-bottom: 1em;
  border-radius: 7px;
}
@media (max-width: 500px) {
  .sixtySix {
    width: 100%;
  }
}
.thirtyThree {
  width: 33%;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 500px) {
  .thirtyThree {
    width: 44%;
    margin-top: 2em;
  }
}
form label {
  display: inline-block;
  width: 90px;
  text-align: right;
}
form .lazyWrap {
  display: flex;
  justify-content: center;
  margin-right: 3.5em;
}
form .lazyWrap button {
  margin-top: 1em;
  display: inline-block;
}
form .lazyWrap button:nth-child(1) {
  margin-right: 1em;
}
.signin {
  padding: 15px 36px;
  text-align: center;
  border-radius: 5px;
  margin: 0 10px;
  background-color: forestgreen;
  text-decoration: none;
  border: none;
}
.signin:hover {
  background-color: #CD871B;
}
.signup {
  padding: 15px 32px;
  text-align: center;
  border-radius: 5px;
  margin: 10px 10px;
  background-color: forestgreen;
  text-decoration: none;
  border: none;
}
.signup:hover {
  background-color: #CD871B;
}
.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1em;
}
.features .stuff {
  width: 100%;
  height: 50px;
  object-fit: cover;
  margin-bottom: 1em;
  border-radius: 2px;
}
@media (max-width: 500px) {
  .features {
    flex-direction: column;
  }
}
.fullWidthBox {
  margin-top: 1.5em;
  width: 100%;
}
.fullWidthBox button {
  margin-left: 92px;
  margin-bottom: 15px;
  padding: 15px 36px;
  text-align: center;
  border-radius: 5px;
  background-color: forestgreen;
  text-decoration: none;
  border: none;
}
.fullWidthBox button:hover {
  background-color: #CD871B;
}
@media (max-width: 500px) {
  .fullWidthBox {
    margin-top: 3.5em;
  }
}
.featureOne {
  width: 30%;
}
@media (max-width: 500px) {
  .featureOne {
    width: 100%;
  }
}
.featureTwo {
  width: 30%;
}
@media (max-width: 500px) {
  .featureTwo {
    width: 100%;
  }
}
.featureThree {
  width: 30%;
}
@media (max-width: 500px) {
  .featureThree {
    width: 100%;
  }
}
.featureTrio {
  margin-top: 2em;
  margin-right: 0.5em;
  margin-left: 0.5em;
  border: 2px solid #2f4f4f;
  border-radius: 5px;
  padding: 1em;
  background: #d9c9ae;
  background: linear-gradient(180deg, #d9c9ae 0%, #d3d3d3 80%);
}
.featureTrio img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 7px;
  margin-bottom: 1em;
}
.featureTrio p {
  height: 202px;
}
@media (max-width: 768px) {
  .featureTrio {
    margin-left: 0em;
    margin-right: 0em;
  }
}
footer {
  display: flex;
  height: 90px;
  align-items: center;
  background-image: url(../img/bookshelf1.jpg);
  border-top: 5px solid #CD871B;
}
@media (max-width: 500px) {
  footer {
    background-position: center;
  }
}
@media (max-width: 768px) {
  footer {
    background-position: 54% 65%;
  }
}
.footer {
  justify-content: center;
  width: 1100px;
  margin: 0 auto;
}
.footer img {
  height: 50px;
  object-fit: stretch;
}
