.cta {
    display:flex;
    flex-wrap: nowrap;
    
    justify-content: space-around;
    align-items: center;
}

.sixtySix {
    width: 66%;
    img {
	height: 50px;
	width: 450px;
	object-fit: cover;
    }
}

.thirtyThree {
    width: 33%;
}
