.cta {
    display:flex;
    flex-wrap: nowrap;
    margin-top: 1em;
    justify-content: space-around;
    align-items: center;
    @media @phone {
	flex-wrap: wrap;
    }
}

.sixtySix {
    width: 66%;
    img {
	height: 50px;
	width: 100%;
	object-fit: cover;
    }
    @media @phone {
	width: 100%;
    }
}

.thirtyThree {
    width: 33%;
}

form {
    label {
	  display: inline-block;
	  width: 90px;
	  text-align: right;
    }
    .lazyWrap{
	display:flex;
	justify-content:center;
	margin-right: 3.5em;
    button{
	margin-top: 1em;
	display: inline-block;
    }
    button:nth-child(1){
	margin-right: 1em;
    }
    }
}
