.features {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1em;
}

.fullWidthBox {
    width: 100%;
    img {
	height: 450px;
	width: 450px;
    }
}

.featureOne {
    width: 33%;
    
}

.featureTwo {
    width: 33%;
    
}

.featureThree {
    width: 33%;
   
}
