.features {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1em;
    .stuff {
	width: 100%;
	height: 50px;
	object-fit: cover;
	margin-bottom: 1em;
	border-radius: 2px;
    }
    @media @phone {
	flex-direction: column;
    }
}

.fullWidthBox {
    margin-top: 1.5em;
    width: 100%;
    button {
	margin-left: 92px;
	margin-bottom: 15px;
	padding: 15px 36px;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
	background-color: @buttonColor;
	text-decoration: none;
	border: none;
    }
        button:hover {
	    background-color: @color3;
	}
    @media @phone {
	margin-top: 3.5em;
    }
 
}

.featureOne {
    width: 30%;

    @media @phone {
	width: 100%;
    }
      
}

.featureTwo {
    width: 30%;
    @media @phone {
	width: 100%;
    }
}

.featureThree {
    width: 30%;
    @media @phone {
	width: 100%;
    }
}

.featureTrio {
    margin-top: 2em;
    margin-right: .5em;
    margin-left: .5em;
    border: 2px solid @accent;
    border-radius: 5px;
    padding: 1em;
        background: rgb(217,201,174);
    background: linear-gradient(180deg, rgba(217,201,174,1) 0%, rgba(211,211,211,1) 80%);
    img {
	width: 100%;
	height: 150px;
	object-fit: cover;
	border-radius: 7px;
	margin-bottom: 1em;
    }

    @media @tablet {
	margin-left: 0em;
	margin-right: 0em;
    }
}
